@use '../base/variables' as v;
@use 'base/mixins' as m;

.header-inicio {
    background-image: url(../img/header_inicio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 0;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    margin-bottom: 2rem;
    
    img {
        max-width: 20rem;
    }
}

.nav-principal {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    
    @include m.tablet {
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }
    
    a {
        text-align: center;
        color: v.$blanco;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1rem;
        
        @include m.tablet {
            margin-bottom: 0;
        }
        
        &:hover {
            color: v.$secundario;
        }
        
        &.activo {
            color: v.$secundario;
        }
    }
}

.texto-header {
    text-align: center;
    color: v.$blanco;
    margin-top: 5rem;
    
    h1 {
        font-size: 4rem;
        margin: 0;
    }
} 